/*Display Area*/
#main {
    float: left;
    width: 1920px;
    height: 1080px;
    left:0px;
    top:0px;
    position: absolute;
    font-family: HighPixel7, WenQuanYi, sans-serif;
}

/*Backgroup Videos*/
#bgVideo { 
    position: absolute;
    width: 1920px;
    height: 1080px;
    filter: brightness(0.3);
    left: 0; 
    top: 0; 
}

/*Team Infos Container*/
#teamRedInfoContainer{
    position: absolute;
    top: 146px;
    left: 30px;
}

#teamBlueInfoContainer{
    position: absolute;
    top: 146px;
    right: 30px;
}

/*Team Member Container*/
#teamRedMemberContainer{
    position: absolute;
    left: 60px;
}

#teamBlueMemberContainer{
    position: absolute;
    right: 60px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.member-container{
    padding: 64px 45px;
    height: 628px;
    width: 246px;
    background-image: url("../statics/teamMemberContainer-bg.png");
}

.player-container{
    display: flex;
}

.playerAvatar{
    height: 45px;
    width: 45px;
}

.playerAvatar#member-container{
    background-color: #ab3f44;
}

/*Team Info*/
#teamRedCardContainer{
    position: absolute;
    top: 785px;
}

#teamBlueCardContainer{
    position: absolute;
    top: 785px;
    right: 0px;
}

.teamBanner{
    height: 110px;
    width: 110px;
    border-radius: 15px;
    border: 5px;
    border-style: solid;
    border-color: #fff;
}

#teamRedBanner{
    background-color: #ab3f44;
}

#teamBlueBanner{
    background-color: #00b7ee;
}

.scoreContainer{
    position: absolute;
    top: 20px;
    display: flex;
}

#teamRedScoreContainer{
    left: 150px;
}

#teamBlueScoreContainer{
    right: 150px;
    flex-direction: row-reverse;
}

.score{
    width:24px;
    height: 41px;
    margin-right: 6px;
}

.score.empty{
    background-image: url(../statics/score-empty.png);
}

.score.gain{
    background-image: url(../statics/score-gain.png);
}

.teamName{
    position: absolute;
    top: 80px;
    color:white;
    display: flex;
    width: 300px;
    font-size: 24px;
}

#teamRedName{
    left: 150px;
    justify-content:flex-start;
}

#teamBlueName{
    right: 150px;
    text-align: right;
    justify-content:flex-end;
}


/*Mappools*/
#overallMappoolContainer{
    position: absolute;
    top: 15px;
    left: 435px;
}

.mappoolTitle{
    background-image: url(../statics/mappoolTitle-bg.png);
    height: 21px;
    width: 98px;
    margin: 15px;
    padding: 13px 8px 11px 20px;
    font-family: Torus,'Times New Roman', Times, serif;
    font-size: 6;
    color:#ff8933;
}

.mappoolContainer{
    display: flex;
    width: 1050px;
    flex-wrap: wrap;
    justify-content: center;
}

.mapContainer{
    position:relative;
    width: 495px;
    Height: 75px;
    margin: 12px;
    color:#fff;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
}

.mapContainerOverly{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.mapContainerInner{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #2a4478;
}

.mapContainer.red-action{
    border-width: 6px;
    margin: 9px;
    border-color: #ab3f44;
}

.mapContainer.blue-action{
    border-width: 6px;
    margin: 9px;
    border-color: #00b7ee;
}

.mapContainer.banned .mapContainerInner{
    filter:grayscale(100%);
}

.mapContainer.picked .mapContainerInner{
    filter:brightness(50%)
}

.mapContainer.locked{
    background-color:#2a4478;
}

.mapContainer.locked .mapContainerOverly{
    background-image:url(../statics/lock.png);
    background-size:75px;
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 2;
}

.mapContainer.locked .mapContainerInner{
    background-color: transparent;
    filter:blur(2px);
    z-index: 1;
}

.mapContainer.red-protected{
    background-color:#2a4478;
}

.mapContainer.red-protected .mapContainerOverly{
    background-image:url(../statics/protect-red.png);
    background-size:75px;
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 2;    
}

.mapContainer.red-protected  .mapContainerInner{
    background-color: transparent;
    filter:blur(2px);
    z-index: 1;
}

.mapContainer.blue-protected{
    background-color:#2a4478;
}

.mapContainer.blue-protected .mapContainerOverly{
    background-image:url(../statics/protect-blue.png);
    background-size:75px;
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 2;    
}

.mapContainer.blue-protected .mapContainerInner{
    background-color: transparent;
    filter:blur(2px);
    z-index: 1;
}

.phase-pick .mapContainer.red-protected .mapContainerOverly{
    opacity: 0.5;
    z-index: 0;  
}

.phase-pick .mapContainer.red-protected .mapContainerInner{
    filter: none;
}

.phase-pick .mapContainer.blue-protected .mapContainerOverly{
    opacity: 0.5;
    z-index: 0;  
}

.phase-pick .mapContainer.blue-protected .mapContainerInner{
    filter: none;
}

.mapContainer.picked .mapContainerInner{
    filter:brightness(100%);
}

.mapContainer.current .mapContainerInner{
    animation: current 0.75s linear 0s 6 normal forwards;
}

@keyframes current {
	0%,
	100% {
		filter:brightness(100%);
	}

	50%{
		filter:brightness(200%);
	}
}

.mapContainer.hidden{
    display: none;
}

.beatmapTitle{
    position: absolute;
    left: 15px;
    top: 16px;
}

.beatmapMapper{
    position: absolute;
    left: 15px;
    top: 45px;
}

.beatmapDiff{
    position: absolute;
    left: 180px;
    top: 44px;
}

.beatmapMod{
    position: absolute;
    left:390px;
    top:15px;
    width: 48px;
    height: 25px;
    padding: 10px 21px;
    text-align: center;
    background-image:url(../statics/mod-bg.png)
}


/*Controller Panel*/
#sideBar{
    position:absolute; 
    left:1920px; 
    top:0px; 
    background-color:var(--grayColour);
}

.sideBarColumn{
    width:250px;
    height: 1080px;
}
