/*Display Area*/
#main {
    float: left;
    width: 1920px;
    height: 1080px;
    left:0px;
    top:0px;
    position: absolute;
    font-family: HighPixel7, WenQuanYi, sans-serif;
}

/*Backgroup Videos*/
#bgVideo { 
    position: absolute;
    width: 1920px;
    height: 1080px;
    filter: brightness(0.3);
    left: 0; 
    top: 0; 
}

/*Team Infos Container*/
#teamRedInfoContainer{
    position: absolute;
    top: 146px;
    left: 30px;
}

#teamBlueInfoContainer{
    position: absolute;
    top: 146px;
    right: 30px;
}

/*Team Member Container*/
#teamRedMemberContainer{
    position: absolute;
    left: 60px;
}

#teamBlueMemberContainer{
    position: absolute;
    right: 60px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.member-container{
    padding: 64px 45px;
    height: 628px;
    width: 246px;
    background-image: url("../statics/teamMemberContainer-bg.png");
}

/*Team Info*/
#teamRedCardContainer{
    position: absolute;
    top: 785px;
}

#teamBlueCardContainer{
    position: absolute;
    top: 785px;
    right: 0px;
}

.teamBanner{
    height: 110px;
    width: 110px;
    border-radius: 5px;
    border: 5px;
    border-style: solid;
    border-color: #fff;
}

#teamRedBanner{
    background-color: #ab3f44;
}

#teamBlueBanner{
    background-color: #00b7ee;
}

.scoreContainer{
    position: absolute;
    top: 20px;
    display: flex;
}

#teamRedScoreContainer{
    left: 150px;
}

#teamBlueScoreContainer{
    right: 150px;
    flex-direction: row-reverse;
}

.score{
    width:24px;
    height: 41px;
    margin-right: 6px;
}

.score.empty{
    background-image: url(../statics/score-empty.png);
}

.score.gain{
    background-image: url(../statics/score-gain.png);
}

.teamName{
    position: absolute;
    top: 80px;
    color:white;
    display: flex;
    width: 300px;
    font-size: 24px;
}

#teamRedName{
    left: 150px;
    justify-content:flex-start;
}

#teamBlueName{
    right: 150px;
    text-align: right;
    justify-content:flex-end;
}

/*Controller Panel*/
#sideBar{
    position:absolute; left:1920px; top:0;
    width: 500px; height: 1080px;
}